.formWrapper {
  box-shadow: 0 0 3px;
  padding: 15px;
  width: 270px;
}
.formInput {
  display: block;
  margin-bottom: 5px;
  width: 250px;
  outline: 1px solid blue;
}

.inputTitle {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: cornflowerblue;
}

.btn {
  display: block;
  color: #ffffff;
  background-color: cornflowerblue;
  width: 200px;
  height: 40px;
  cursor: pointer;
}

.btn:hover {
  background-color: gray;
}
